.cmp-menu-grid-list {
  .menu-list-wrap {
    margin: 10px 0;
    display: inline-grid;
    grid-template-columns: repeat(5, 20vw);
    grid-template-rows: auto;
    li {
      width: 100%;
      height: 20vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      img {
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
      }
      span {
        font-size: 12px;
        margin: 8px auto 0;
      }
    }
  }
}